<h2> Контакты </h2>

<form action="/contacts" method="POST" role="form">

  <div class="form-group">
    <label>Ваш E-mail</label>
    <input name="email" type="text" class="form-control" placeholder="Ваш E-mail">
  </div>

  <div class="form-group">
    <label>Ваш вопрос</label>
    <textarea name="text" class="form-control" rows="3" placeholder="Введите текст"></textarea>
  </div>

  
  <button type="submit" class="btn btn-primary">Отправить</button>

</form>
